html,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /*border: 1px solid #000;*/
}

@media {
  max-width: 375px;
}

/* .prompt {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content: center;
  font-size: 8vw;
  width: 100%;
  height: 13vh;
  text-align: center;
} */

/*.text1 {
  display: none;
  font-family: 'Montserrat', sans-serif;
}

.text2 {
  display: none;
  font-family: 'Montserrat', sans-serif;
}

.text3 {
  display: none;
  font-family: 'Montserrat', sans-serif;
}

.text4 {
  display: none;
  font-family: 'Montserrat', sans-serif;
}

.text5 {
  display: none;
  font-family: 'Montserrat', sans-serif;
}

.text6 {
  display: none;
  font-family: 'Montserrat', sans-serif;
}*/

.instruction {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content: center;
  font-size: 8vw;
  width: 100%;
  height: 13vh;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 4vh;
}

.blackfill_shapes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 40vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.blackfill_shapes_size {
  height: 30vw;
}

.hairline {
  display: flex;
  align-self: center;
  margin: auto;
  background-color: black;
  height: 1px;
  width: 80vw;
}

.colors {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  height: 25vh;
}

.red {
  height: 10vh;
  width: 15vw;
  background-color: #f73443;
}

.orange {
  height: 10vh;
  width: 15vw;
  background-color: #ff834d;
}

.green {
  height: 10vh;
  width: 15vw;
  background-color: #02aa2a;
}

.blue {
  height: 10vh;
  width: 15vw;
  background-color: #21409a;
}

.purple {
  height: 10vh;
  width: 15vw;
  background-color: #cea7ea;
}

.fill_patterns {
  display: flex;
  height: 25vh;
  /* align-items: center; */
  justify-content: center;
  /* align-content: space-between; */
  align-self: center;
  margin: auto;
}

.fill_patterns_height {
  width: 25vw;
}

.done{
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 20vw;
  background-color: black;
  color: white;
}

.prompt_projection {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 4vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
  color: #21409a;
}

.timer {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 2vw;
  padding-top: 2vh;
  padding-bottom: 3vh;
  color: #ff834d;
}

#countdown {
  font-family: 'Montserrat', sans-serif;
  padding-left: 1vw;
  padding-right: 0.25vw;
}


/*.loadedImage{
  height:100px;
}*/
